<div class="form centered-div">

  <%= form_for @task do |x| %>

    <%= x.text_field :name, placeholder: "  enter new task" %>
    <%= x.submit("Add Task") %>

  <% end %>
</div>

<br>
<br>

<div class="container list">
  <div class="row">
    <div class="col-md-6">
      <ul class="list-uls">
        <% if @priority.count > 0 %>
          <h3 class="centered-text" style="text-decoration: underline">Priorities</h3>
          <% @priority.each do |task| %>
            <li class="<%= task.priority ? 'priority' : 'normal' %>">
              <p><%= task.name %></p>
              <%= link_to complete_task_path(task.id) do %>
                <i class="fas fa-check-square"></i>
              <% end %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-pawn"></i>
              <% end %>
              <%= link_to task_path(task.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_task_path(task.id) do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
          <% end %>
          <% if @normal.count > 0 %>
            <h3 class="centered-text secondary-tasks" style="text-decoration: underline">Secondary Tasks</h3>
          <% end %>
          <% @normal.each do |task| %>
            <li class="<%= task.priority ? 'priority' : 'normal' %>">
              <p><%= task.name %></p>
              <%= link_to complete_task_path(task.id) do %>
                <i class="fas fa-check-square"></i>
              <% end %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-king"></i>
              <% end %>
              <%= link_to task_path(task.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_task_path(task.id) do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
          <% end %>
        <% else %>
          <h3 class="centered-text" style="text-decoration: underline">To Do</h3>
          <% @normal.each do |task| %>
            <li class="<%= task.priority ? 'priority' : 'normal' %>">
              <p><%= task.name %></p>
              <%= link_to complete_task_path(task.id) do %>
                <i class="fas fa-check-square"></i>
              <% end %>
              <% if task.priority == false %>
                <%= link_to prioritize_task_path(task.id) do %>
                  <i class="fas fa-chess-king"></i>
                <% end %>
              <% elsif task.priority == true %>
                <%= link_to prioritize_task_path(task.id) do %>
                  <i class="fas fa-chess-pawn"></i>
                <% end %>
              <% end %>
              <%= link_to task_path(task.id), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
              <%= link_to edit_task_path(task.id) do %>
                <i class="fas fa-edit"></i>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-uls">
        <h3 class="centered-text" style="text-decoration: underline">Completed</h3>
        <% @finished.each do |task| %>
          <li class="<%= task.priority ? 'priority' : 'normal' %> strike">
            <p><%= task.name %></p>
            <%= link_to reactivate_task_path(task.id) do %>
              <i class="fas fa-list-ul"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="centered-div" style="margin-top: 3em">
  <div class="remove-tasks-button">
    <%= link_to "Remove all finished tasks", remove_old_tasks_path %>
  </div>

  <a href="#" class="legend" onMouseOver="ShowPicture('Style',1, 'https://i.imgur.com/B517R8S.png')" onMouseOut="ShowPicture('Style',0)">Icons Legend</a>
  <div class="imageBox" id="Style">
      <img src="" />
  </div>
</div>

<%= javascript_include_tag "application" %>
