<h1><%= @date.strftime("%A, %B %e") %></h1>


<%= form_for @task do |x| %>

  <%= x.text_field :name, placeholder: "enter new task" %>
  <%= x.submit("Add Task") %>

<% end %>

<br>
<br>

<div class="container list">
  <div class="row">
    <div class="col-md-6">
      <ul>
        <h3>To Do</h3>
        <% @active.each do |task| %>
          <li class="<%= task.priority ? 'priority' : 'normal' %>">
            <p><%= task.name %></p>
            <%= link_to complete_task_path(task.id) do %>
              <i class="fas fa-check-square"></i>
            <% end %>
            <% if task.priority == false %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-king"></i>
              <% end %>
            <% elsif task.priority == true %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-pawn"></i>
              <% end %>
            <% end %>
            <%= link_to task_path(task.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to edit_task_path(task.id) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <ul>
        <h3>Completed</h3>
        <% @finished.each do |task| %>
          <li class="<%= task.priority ? 'priority' : 'normal' %> strike">
            <%= task.name %>
            <%= link_to reactivate_task_path(task.id) do %>
              <i class="fas fa-list-ul"></i>
            <% end %>
            <% if task.priority == false %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-king"></i>
              <% end %>
            <% elsif task.priority == true %>
              <%= link_to prioritize_task_path(task.id) do %>
                <i class="fas fa-chess-pawn"></i>
              <% end %>
            <% end %>
            <%= link_to task_path(task.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
            <%= link_to edit_task_path(task.id) do %>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="button">
  <%= link_to "Remove all finished tasks", remove_old_tasks_path %>
</div>
